{% extends 'base.html' %}
{% block content %}
{{ block.super}}
{% load bootstrap3 %}
<br>
<br>
<br>


<div class="container-fluid">
  <img id="img" src="" alt="">
  <h1 id="profile_h">{{user.username}}</h1>
  <!-- <button id="button_h" type="button" class="btn btn-outline-secondary">Edit Profile</button> -->
  <i id="fa_h" style="font-size:24px" class="fa fa-cog" aria-hidden="true"></i>
  <div id="block">
    <!-- <p id="p_h"><strong>2</strong> posts</p>
    <p id="p_hh"><strong>1</strong> Followers<strong>1</strong> Following</p> -->

    {% for prof in all_profile%}
    <h4 id="p_hhh">{{prof.last_name}}</h4>
      {% endfor %}
<br>
    <form method='post' action='{% url 'profile'%}'>
      {% csrf_token %}
      {{ form }}
      <input type="hidden" id="admin" name="user_id" value="{{user.id}}">
      <a href="{% url 'profile' %}" class="btn btn-info"></a>
    </form>

  </div>



<br>
<br>
<br>
<br>
<br>
<form method='POST' enctype="multipart/form-data">
  {% csrf_token %}
  {%for fields in form%}
  {{ fields }}
  {%endfor%}
  <!-- <button type="submit" name="button"></button> -->
</form>


<div class="">
  {%for de in images%}
  <img src="{{de.image_path.url}}" alt="">
  {%endfor%}

</div>



    <div class="col-md-1">
    </div>
    <div class="col-md-8">
      <br>
      <br>
      <br>
      <div class="card" style="width: 35rem;">

        {% for all in new %}

        <h5> {{all.username}} </h5>
        <h6>{{all.image_location}}</h6>
      </div>
      <div class="card">
      <img src="{{all.image_path.url}}" alt="{{user.username}}">
     <p class="card-text">description :{{all.image_description}}</p>
  <p>   posted by:{{user.username}}</p>
      <a href="#" class="btn btn-info">Like</a>

    <div class="card-footer text-muted">

      <form method="post" action='{% url 'comment' %}'>
        {% csrf_token %}
        {{ forms }}
        <input type="text" name="image_id" value="{{image_id}}">
        <input type="submit" name="Submit" value="Comment">
      </form>
    </div>
    <ul class="List-group-flush">
      {% for comment in comments %}
      {% if comment.image_id.id == image.id %}
      <li class="List-group-item">{{comment.comment}}</li>
      {% endif %}
      {% endfor %}
    </ul>
    </div>

  {% endfor %}
  <div class="col-md-3">
  </div>
</div>

{%endblock%}
