
<br><br><br><br><br><br><br><br><br><br><br><br><br>
{% extends 'base.html' %}
{% block content %}
{{ block.super}}
{% load bootstrap3 %}

<br>
<br>
<br>
<div class="container">

  <img id="img" src="https://t2.ftcdn.net/jpg/00/39/51/03/400_F_39510390_c8mOJacwjbAuCzfq0GhVdqDy7ArPF8Fi.jpg" alt=""  style="float:left; width:150px; length:120px; margin-top:-25%">
<div class="contain" style="text-align:center; margin-top:-20%">

  <h1 id="profile_h">{{user.username}}</h1>
  <button id="button_h" type="button" class="btn btn-outline-secondary">Edit Profile</button>
  <i id="fa_h" style="font-size:24px" class="fa fa-cog" aria-hidden="true"></i>
  <div id="block">
    <p id="p_h"><strong>2</strong> posts</p>
    <p id="p_hh"><strong>1</strong> Followers<strong>1</strong> Following</p>

    {% for prof in all_profile%}
    <h4 id="p_hhh">{{prof.last_name}}</h4>
      {% endfor %}
<br>
    <form method='post' action='{% url 'profile'%}'>
      {% csrf_token %}
      {{ form }}
      <input type="hidden" id="admin" name="user_id" value="{{user.id}}">
      <input type="submit" name='Submit' value="Submit">
    </form>

  </div>

</div>

<br>
<br>
<br>
<br>
<br>

<form method='POST' enctype="multipart/form-data">
  {% csrf_token %}
  {%for fields in form%}
  {{ fields }}
  {%endfor%}
  <button type="submit" name="button">upload</button>
</form>

</div>
<div class="">
  {%for de in images%}
  <img src="{{de.image_path.url}}" alt="">
  {%endfor%}

</div>
</div>

{%endblock%}
